body {
	margin: auto;
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	background: url("../Ressource/fond-gris2.jpg") no-repeat;
	font-family: Arial;
	color: white;
}

main {
	flex: 1 0 auto;
}

/*-----header-----*/
.nav-wrapper {
	margin-left: 1em;
}

/*-----Index------*/

	/*------section à propos------*/

		#apropos {
			margin-top: 1em;

			text-align: center;
		}

		img {
			width: 200px;
			border-radius: 50%;
		}

	/*------section contact------*/

		#contact {
			margin: 1em 200px;
			display: flex;
			justify-content: center;

			height: 450px;


			background: rgba(116, 80, 47, 0.5);

		}

		form{
			display: flex;
			flex-direction: column;
			margin:40px;
		}

		/*input{*/
			/*margin: 10px;*/
			/*height: 30px;*/
			/*width: 400px;*/
			/*padding: 10px;*/
			/*font-size: 18px;*/

			/*background-color: rgba(0, 0, 0, 0.5);*/
			/*border:0;*/
			/*color: white;*/
		/*}*/

		/*textarea{*/
			/*margin: 10px;*/
			/*height: 100px;*/
			/*padding: 10px;*/
			/*font-size: 17px;*/
			/*resize: none;*/

			/*background-color: rgba(0, 0, 0, 0.5);*/
			/*border:0;*/
			/*color: white;*/

		/*}*/

		/*button{*/
			/*margin: 10px;*/
			/*height: 40px;*/
			/*width:100px;*/
			/*font-size: 18px;*/


			/*background-color: rgba(0, 0, 0, 0.5);*/
			/*color: white;*/
			/*border-radius: 3px;*/
			/*border:0;*/

			/*transition: all 0.5s;*/
		/*}*/


/*----Graphiste---*/

		h3 {
			text-align: center;
		}

	/*----section competences----*/

		#competences {
			width: 100%;
			background:rgba(100,100,100,0.5);
		}

	/*----section experiences----*/

		#experiences {
			width: 100%;
			background:rgba(100,100,100,0.5);
		}

	/*---section formation----*/

		#formation {
			width: 100%;
			background:rgba(100,100,100,0.5);
		}

/*-Développeur Web-*/



/*-----footer-----*/

footer.page-footer {
	margin-top: 300px;
}
.lien {
	display: flex;
	flex-direction: row;
}

.lien ul {
	margin-left: 50px;
	margin-right: 50px;
}


/*----------footer-----------*/

