#video_background{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#background{
	position: fixed;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	z-index: -1000;
	overflow: hidden;
	background-color: rgba(121, 121, 121, 0.46);
}
body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	background: black;
	color: white;
}
main {
	flex: 1 0 auto;
}
.colorCustom {
	background-color: rgba(46, 46, 46, 0.62) !important;
}

/*-----header-----*/
.nav-wrapper {
	margin-left: 1em;
}
.navOne{
	background-color: rgb(46, 46, 46);
}
.none {
	border: none;
	background: none;
}
#mobile-nav {
	display: none;
}
/*control video*/
#panel{
	position: fixed;
	text-align: center;
	right: 0;
	margin-top: 1%;
	z-index: 10000;


	background: rgba(121, 121, 121, 0.87);
	box-shadow: 2px 2px 2px 1px rgba(129, 129, 129, 0.52);
	color: black;
	display: none;
}
.textEnd {
	text-align: end;
}
#panel div:last-child {
	padding: 10%;
}
#panel div:last-child input {
	width: 75%;
}
input[type=range]+.thumb {
	display: none;
}
/*-----Index------*/

	/*------section à propos------*/

		#apropos {
			margin: 1em;
			text-align: center;
			font-family: 'Bree Serif', serif;
		}

		#apropos img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
		#apropos p {
			font-size: 20px;
			text-align: center;
		}

	/*------section contact------*/

		#contact {
			display: flex;
			justify-content: center;
		}

		form {
			display: flex;
			flex-direction: column;
			margin:40px;
			width: 100%;
			height: 100%;
			text-align: center;

		}

/*----Graphiste---*/

		h3 {
			text-align: center;
			margin-bottom: 1em;
		}

	/*----section competences----*/

		#competences {
			width: 100%;

		}
		#competences th {
			font-size: 2em;
		}
		#competences table {
			display: flex;
			justify-content: center;
			flex-direction: row;
		}
		#competences tbody {
			margin: 0 5% ;
		}

	/*----section experiences----*/

		#experiences {
			width: 100%;
			margin-bottom: 15%;
		}
		#experiences aside {
			display: flex;
			justify-content: space-around;

			text-align: center;
		}
		#experiences textarea {
			border: none;
			height: 100%;
			text-align: justify;
			resize: none;
		}
		#experiences a {
			color: #ff1000;
		}

	/*---section formation----*/

		#formation {
			text-align: center;
			color: white;

		}
		#formation a {

			text-decoration: none;
			color: white;
		}
		#formation p {

		}

/*-Développeur Web-*/



/*-----footer-----*/

footer.page-footer {
	width: 100%;
}
.lien ul {
	margin-left: 50px;
	margin-right: 50px;
}
