#video_background{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	z-index: -1000;
	overflow: hidden;
}
#background{
	position: fixed;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	z-index: -1000;
	overflow: hidden;
	background-color: rgba(19, 64, 150, 0.48);
}
body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	background: black;
	color: white;
	font-family: 'Merienda One', cursive;

}
main {
	flex: 1 0 auto;
}
.colorCustom {
	background-color: rgba(46, 46, 46, 0.62) !important;
}
a {color: white}

/*-----header-----*/
.nav-wrapper {
	margin-left: 1em;
}
.navOne{
	background-color: rgb(46, 46, 46);
}
.none {
	border: none;
	background: none;
}
#mobile-nav {
	display: none;
}
/*control video*/
#panel{
	position: fixed;
	text-align: center;
	right: 0;
	margin-top: 1%;
	z-index: 10000;


	background: rgba(121, 121, 121, 0.87);
	box-shadow: 2px 2px 2px 1px rgba(129, 129, 129, 0.52);
	color: black;
	display: none;
}
.textEnd {
	text-align: end;
}
#panel div:last-child {
	padding: 10%;
}
#panel div:last-child input {
	width: 75%;
}
input[type=range]+.thumb {
	display: none;
}
/*-----Index------*/

	/*------section à propos------*/

		#apropos {
			margin: 1em;
			text-align: center;
		}

		#apropos img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
		#apropos p {
			font-size: 20px;
			text-align: center;
		}

	/*------section contact------*/

		#contact {
			display: flex;
			justify-content: center;
			font-size:  2em;
		}

		form {
			display: flex;
			flex-direction: column;
			margin:150px;
			width: 100%;
			height: 100%;
			text-align: center;
		}
		form a {
			color: #8c0002;
		}

/*----Graphiste/Dev---*/

		h3 {
			text-align: center;
			margin-bottom: 1em;
		}

	/*----section competences----*/

		#competences {
			width: 100%;
		}
		#competences {

		}
		#competences h3 {

		}
		#competences section {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		#competences section div {
			margin: 0 3em;
		}
		#competences ul {
			margin: 2em 0;
		}
		#competences li {
			display: flex;

		}
		#competences i {font-size: 3em}
		#competences .fa {font-size: 1em}

	/*----section experiences----*/

		#experiences {

		}
		#experiences img {
			width: 425px;
			height: 170px;
		}
		#experiences section {
			display: flex;
			justify-content: center;
		}
		#experiences div {
			overflow-y: hidden;
			color: black;
		}
		#experiences a {
			color: #ff1000;
		}
		#experiences ul {
			margin-left: 25%;
			width: 50%;
		}

	/*---section formation----*/

		#formation {
			text-align: center;

		}

/*-----footer-----*/

footer.page-footer {
	width: 100%;
	margin-top: 10%;
	bottom: 0;
}
.lien ul {
	margin-left: 50px;
	margin-right: 50px;
}
