body {
	margin: auto;
	background: url("Ressource/clouds.jpg") no-repeat;
	background-size: cover;
	font-family: arial;
}
/*----header----*/

header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	background: rgba(63,63,63,0.8);
}

.info {
	padding-top: 50px;
}

.PhotoRomainQ {
	width:100px;
    border-radius:50px;
}
	
.RQ {
	font-size: 20px;
}

.Métier {
	text-align: center;
}


nav {
    position:absolute;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 5px;

}

/*----section----*/

.competences {
	margin-top: 300px;
	width: 25%;
	background:rgba(100,100,100,0.5);
	color: white;
}