body {
	background: url("Ressource/clouds.jpg") no-repeat;
	background-size: cover;
	color: white;
	margin: auto;
}


header {
	background-color: rgba(77,77,77,0.3);
}

.RQ {
	font-size: 150%;
	left: 20px;
}

.PhotoRomainQ {
	height:156px;
	width:100px;
	float: left;
}

}

.Métier {
	text-align: center;
}


nav {
    float: right;
    
}

nav li {
    display: inline;
    margin: 0 5px;

}